[submodule ".registry"]
	path = .registry
	url = https://github.com/cajoterbraak/cajoterbraak.r-universe.dev
	branch = HEAD
[submodule "Gendis2unmix"]
	path = Gendis2unmix
	url = https://github.com/CajoterBraak/Gendis2unmix
[submodule "PRC"]
	path = PRC
	url = https://github.com/CajoterBraak/PRC
[submodule "TraitEnvMLMWA"]
	path = TraitEnvMLMWA
	url = https://github.com/CajoterBraak/TraitEnvMLMWA
[submodule "dcCA"]
	path = dcCA
	url = https://github.com/CajoterBraak/douconca
[submodule "demc2"]
	path = demc2
	url = https://github.com/CajoterBraak/demc2
